<!DOCTYPE html >
<!--ng-app directive  -->
<html lang="en" ng-app="mymodule">
<head>
   <script src="../app/angular.min.js"></script>
  <script src="../js/module.js"></script>
 
  

</head>
<!-- ng-controller directive -->
<body ng-controller="mycontroller",>
  
<p>Data from controller:{{message}}</p>
<input type="text" ng-model="enter" placeholder="enter something">

<p>Above Entered data (text field):{{enter}}</p>
<!-- ng-init directive -->
<p ng-init="inializevar=['das','braja','bandhu']"></p>
<p>Value from array without ng-repeat:{{inializevar[2]}}</p>

<!-- ng-repeat directive -->
<p>Read data from array using ng-repeat:</p>
<ul >
     <li ng-repeat="loop in inializevar">{{loop}}
  </ul>
   <!--Read the same array data from controller  -->
  <p> Read the same array data from controller:</p>
   <ul> 
     <li ng-repeat="loop1 in var">
    {{loop1}}</li>
   </ul>
  <!--Ordering data by filter  -->
  <p>Order By Name:</p>
  <input type="text" ng-model="search" placeholder="sort by entered format">
  <ul><li ng-repeat="loop2 in arr | orderBy:'name' | filter:search">
   Name: {{loop2.name}},
   Age: {{loop2.age}},
   Salary:{{loop2.salary | currency:'Rs'}}
  </li>
    </ul>
</body>
</html>